:root {
  --theme-color: #00afef;
}

$colorHeading:#222222;
$colorText:#000;
$colorDarkGray:#4a4a4a;
$colorWhite:#ffffff;
$colorBlack:#000;

// FONT
$fontPrimary:"Poppins", sans-serif;;
$fontSecondary:"Raleway", sans-serif;


$defaultFontSize: 1.5rem;

$transition : 0.4s;

$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowTwo:0 0 30px rgba(0,0,0,.18);